body {
  background-color: bisque;
}

h1,
p {
  text-align: center;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: brown;
}

.croissant {
  max-width: 100%;
  border-radius: 10px;
  margin: 30px 0;
  display: block;
}
